[Unit]
Description=Run RPi5 weekly maintenance

[Timer]
OnCalendar=Sun *-*-* 02:20:00
Persistent=true
Unit=rpi5-update.service

[Install]
WantedBy=timers.target
